<footer class="site-footer">
  <div class="about">
    <h3>About</h3>
    <p>
      <strong>Shardbox</strong> is a database of <a href="https://crystal-lang.org/">Crystal</a> shards.
      It's neither a hosting service nor a central registry for the <a href="https://github.com/crystal-lang/shards">shards</a>
      dependency manager, but a place to discover shards and the shards ecosystem.
    </p>
    <p>
      Brought to you by <a href="https://github.com/straight-shoota">straight-shoota</a>.
    </p>
    <p>
      <a href="/imprint">legal</a>
    </p>
  </div>
  <div class="links">
    <h3>Links</h3>
    <a href="https://github.com/shardbox/shardbox-core">{{ icon("github") }} shardbox/shardbox-core</a>
    <a href="https://github.com/shardbox/shardbox-web">{{ icon("github") }} shardbox/shardbox-web</a>
    <a href="https://github.com/shardbox/catalog">{{ icon("github") }} shardbox/catalog</a>
  </div>
</footer>
