{% macro release_date(released_at) -%}
{{ time_date(released_at, title="Released on {{date}}") }}
{%- endmacro %}

{% macro time_date(date) -%}
<time datetime="{{ date | date("%Y-%m-%d %H:%M:%S")}}" title="{{ title | default("{{date}}") | replace("{{date}}", date | date("%Y-%m-%d %H:%M:%S")) }}">
  {{ date | humanize_time_span }}</time>{%- endmacro %}
