{% macro shard_card(shard, data, categories) %}
  <div class="shard-card">
    <a href="/shards/{{ shard.slug }}" class="shard-name">{{ shard_name(shard)}}</a>

    {% if show_description | default(true) and shard.description %}
      <div class="description">
        {{ shard.description | markdown }}
      </div>
    {% endif %}

    <div class="shard-infos">
      <div class="shard-info">
        {% if show_dependents | default(true) %}
          <span class="datapoint datapoint--dependencies">{{ data.num_dependencies }} dependents</span>
        {% elif dev_dependents %}
          <span class="datapoint datapoint--dependencies">{{ item.num_dependencies }} dev dependents</span>
        {% endif %}
      </div>
      <div class="version-info">
        {% if released_at and version %}
          {{ icon("tag") }}
          <span class="version">{{ version }}</span>
          <span class="released_at">{{ release_date(released_at) }}</span>
        {% endif %}
        {% if show_created_at %}
          {{ icon("tag") }}
          <span class="version">{{ data.version }}</span>
          <span class="created_at">{{ release_date(data.created_at) }}</span>
        {% endif %}
      </div>
      <div class="shard-info">
        {% if shard.archived %}
          <span class="datapoint datapoint--archived">Archived {{ time_date(shard.archived_at, title = "Archived on {{date}}")}}</span>
        {% endif %}

        {% if repo and repo.sync_failed_at %}
          <span class="datapoint datapoint--sync_failed">Sync failed</span>
        {% endif %}
      </div>
    </div>

    {% if repo_ref %}
    <div class="repo-info">
      <a href="{{ repo_ref.to_uri }}" class="repo-ref repo-ref--{{ repo_ref.resolver }}">{{ icon(repo_ref.resolver) }} {{ repo_ref.url }}</a>
    </div>
    {% endif %}

    <div class="categories">
      {% for category in categories %}
        <a href="/categories/{{ category.slug }}" class="category-link">{{ category.name }}</a>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
