{% extends "layout.html.j2" %}
{% import "macros/links.j2" %}

{% block page_title %}Owners on Shardbox{% endblock %}
{% block main %}
  <header>
    <h1>{{ icon("people") }} Owners</h1>
  </header>

  <div class="categories-list">
    {% for owner in owners %}
      <div class="owner-item">
        <div class="owner with-image">
          {{ owner_image(owner) }}
          <a href="/owners/{{ owner.resolver }}/{{ owner.slug }}">{{ owner.name | default(owner.slug) }}</a>
          <span class="owner_slug">@{{ owner.slug }}</span>
        </div>
        {% if owner %}
          <div class="metrics">
            <span class="metric">
              <span class="metric-label">shards</span>
              <span class="metric-value">{{ icon("package") }} {{ owner.shards_count }}</span>
            </span>
            <span class="metric">
              <span class="metric-label">direct dependents</span>
              <span class="metric-value">{{ icon("package-dependents") }} {{ owner.dependents_count}}</span>
            </span>
            <span class="metric">
              <span class="metric-label">total dependents</span>
              <span class="metric-value">{{ icon("package-dependents") }} {{ icon("plus") }} {{ owner.transitive_dependents_count }}</span>
            </span>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
