.metrics
  display: grid
  grid-template-rows: minmax(1.5em, auto) minmax(1.5em, auto)
  grid-template-columns: auto
  padding: .5em

  > .metric
    display: contents
    text-align: center

    > .metric-label
      grid-row: 1
      font-size: 70%
      color: var(--color-lighter)
      font-weight: 100

    > .metric-value
      grid-row: 2
      font-weight: 400
      color: var(--color-light)
      font-size: 110%
      white-space: nowrap

      > time
        font-size: 90%

    > .metric-label, > .metric-value
      padding: 0.2em .4em
      align-self: stretch
      vertical-align: middle

    + .metric
      > .metric-label, > .metric-value
        border-left: 1px solid #eee
