.shard-card
  //flex-basis: 13em
  padding: .5em .8em
  background: #fff
  border-top: 4px solid #ddd

  > * + *
    margin-top: .4em

  > .shard-name
    font-size: 1.35em
    grid-area: name
    margin-top: .3em

  > .shard-infos
    grid-area: shard-info
    display: flex
    flex-flow: column

  > .description
    color: var(--color-light)
    font-size: .95em
    flex-grow: 1
    grid-area: description

  > .repo-info
    grid-area: repo-info

  > .categories
    grid-area: categories

    > .category-link
      font-weight: 400

  > .metrics
    padding: 0
    font-size: 95%
    line-height: 1.3
    margin-top: 0
