.shard-preview > .shard-info
  font-size: .9em
  color: #444

.shard-preview
  background: #fff
  padding: 1rem
  border: 1px solid #eee

  + .shard-preview
    margin-top: 1rem

  .shard-info
    margin-top: .5rem

  &__title
    margin: 0
    > a
      text-decoration: none
      color: #222
      font-weight: 600
      font-size: 1.5rem
      margin-bottom: .5rem
