.site-header
  background: #333
  color: #ddd
  display: flex
  flex-direction: row
  align-items: center
  margin: 0
  border: 0 solid transparent
  min-height: 4rem

  @media(min-width: 1200px)
    border-width: 0 2rem

  a
    text-decoration: none
    padding: .3em .5em
    font-size: 1.2rem
    color: inherit
    white-space: nowrap

    &:hover, &:focus
      color: #fff

.search-field
  display: flex
  flex-direction: row
  align-items: stretch
  margin: .3em 0
  flex-grow: 1
  max-width: 30em
  position: relative

  > input[type=search]
    border: none
    padding: .3em
    padding-left: 1.7em
    background: var(--color-light)
    color: #eee
    font-size: 1.1em
    font-family: Roboto
    letter-spacing: 0.02em
    border-radius: .5rem
    flex-grow: 1

    &::placeholder
      color: #bbb

    &:active, &:focus
      box-shadow: .1em .1em .3em #222

  > button
    border: none
    padding: 0
    color: inherit
    cursor: pointer
    font-size: 1.5rem
    border-radius: .5rem
    background: transparent
    position: absolute
    top: 0
    bottom: 0
    left: 0

    &:hover, &:focus
      color: var(--color-lighter)

    > .icon
      margin: 0
      display: block
      width: 1.4em
      height: 1.4em
      padding: .3em
      color: #333

.header-nav
  margin: .5em

  a
    font-size: 1rem
    border-radius: .3em
    font-size: 1.2em
    font-weight: 200

    &:hover, &:focus
      background-color: #404040

    @media(max-width: 1024px)
      > span
        display: none

a.site-title
  font-size: 1.5rem
  margin: 0 1rem
  font-weight: bold
  letter-spacing: 0.04em
  text-transform: uppercase
  color: #fff
