.site-header
  background: #333
  color: #ddd
  display: flex
  flex-direction: row
  align-items: center
  margin: 0
  border: 0 solid transparent
  border-width: 0 2rem

  > form
    display: flex
    flex-direction: row
    align-items: center
    margin: 0
    padding: .3em 0
    align-self: center

    > input[type=search]
      padding: .3em
      border: none
      background: var(--color-light)
      color: #eee
      font-size: 1.1em
      font-family: Roboto
      letter-spacing: 0.02em
      &::placeholder
        color: #bbb

    > button
      border: none
      background: transparent
      padding: 0
      color: inherit
      cursor: pointer
      font-size: 1.5rem

      &:hover, &:focus
        color: var(--color-lighter)

      > .icon
        display: block
        width: 1.4em
        height: 1.4em
        padding: .3em
  a
    text-decoration: none
    padding: .3em .5em
    font-size: 1.2rem
    color: inherit

    &:hover, &:focus
      color: #fff

.header-nav
  margin: .5em

  a
    font-size: 1rem
    background: var(--color-light)
    border-radius: .3em

    &:hover, &:focus
      background-color: #404040

a.site-title
  font-size: 1.5rem
  margin: 0 1rem
  font-weight: bold
  letter-spacing: 0.04em
  text-transform: uppercase
  color: #fff
