{% extends "layout.html.j2" %}
{% import "macros/links.j2" %}

{% block page_title %}Shardbox: Imprint{% endblock %}
{% block main %}
<header>
  <h1>Legal disclosure</h1>
</header>

<div class="containers page">
  <div class="container">
    <p>
      Information in accordance with §5 <abbr title="German Telemediengesetz">TMG</abbr>
      and responsible for contents:
    </p>
    <address>
      Johannes Werner Müller<br/>
      Ostendstraße 1<br/>
      36103 Flieden
    </address>
    <h4>Contact</h4>
    <a href="mailto:straightshoota@gmail.com">straightshoota@gmail.com</a>
  </div>
  <div class="container">
    <h2>Disclaimer</h2>
    <h3>Accountability for content</h3>
    <p>
      <p>We are responsible for our own content in accordance with § 7 Abs. 1 TMG.
      According to §§ 8 to 10 TMG, however, we as a service provider are not obliged
      to monitor transmitted or stored external information or to investigate
      circumstances that indicate an illegal activity.
      Thus the removal or blocking of the use of information under the general
      laws remain unaffected.
      A liability in this regard, however, is only possible from the date of
      knowledge of a specific infringement. Upon notification of appropriate
      violations, we will remove this content immediately.
    </p>

    <h3>Accountability for links</h3>
    <p>
      Our offer contains links to external websites on whose content we have
      no influence. Therefore we can not assume any liability for these external
      contents. The content of the linked pages is always the responsibility
      of the respective provider or operator of the pages. The linked pages
      were checked the time of the link to possible leftover. Illegal content
      was not recognizable at the time of linking. A permanent content control
      of the linked pages is, however, unreasonable without concrete evidence
      of an infringement. Upon notification of violations, we will remove such
      links immediately.
    </p>

    <h3>Copyright</h3>
    <p>
      The pages of the driver are in content and works in the pages include
      the copyright. The duplication, processing, distribution and any kind of
      exploitation outside the limits of copyright require the written consent
      of the respective author or creator. Downloads and copies of this site
      are for private, non-commercial use only. As far as the contents on this
      side were not created by the operator, the copyrights of third parties
      are considered. In particular contents of third parties are marked as
      such. If you want to be wary of a breach of original rights, please
      notify us accordingly. Upon notification of violations, we will thus
      remove content immediately.
    </p>
  </div>
</div>
{% endblock %}
