*
  box-sizing: border-box

html
  font-family: Roboto
  color: var(--color-body)
  font-size: 12pt
  background: #f8f8f8
  line-height: 1.4

body
  margin: 0
  padding: 0

$main-margin: 3rem

main
  margin: 0 0 3rem
  @media(min-width: 1024px)
    margin: 0 $main-margin / 2 3rem
  @media(min-width: 1200px)
    margin: 0 $main-margin 3rem
  max-width: 95em

a
  text-decoration: none

  &:link, &:visited
    color: var(--color-link)

  &:hover, &:focus
    color: var(--color-link-hover)

  &.btn
    padding: .2em .4em
    color: var(--color-light)
    font-weight: 500
    display: inline-block
    border: 2px solid var(--color-lighter)
    border-radius: 3px
    background: #ccc

    &:hover, &:focus
      background-color: var(--color-light)
      border-color: var(--color-light)
      color: #fff

  &.help
    display: inline-block
    border-radius: 50%
    font-weight: 700
    margin: .2em
    width: 1.2em
    line-height: 1.2
    text-align: center
    background-color: #ddd
    color: var(--color-lighter)
    border: 2px solid var(--color-lighter)
    transform: scale(0.8)

    &:hover, &:focus
      background-color: var(--color-lighter)
      color: #fff

  &.legal-link
    --color-link: var(--color-light-hover)
    --color-link-hover: var(--color-light-link)
    font-weight: 300

h1
  font-weight: 500
  font-size: 5em
  margin: 0

pre
  white-space: pre-wrap
  background: var(--color-code-background)
  padding: .5em
  color: var(--color-code)

header
  margin: 2rem 0

h2,
.release-body h1
  font-size: 2.5rem
  font-weight: 300
  color: var(--color-light)

  margin-bottom: .5rem
  margin-top: 1rem

  > .count
    font-weight: normal
    color: var(--color-light)

h3
  font-size: 1.5rem

.category-link
  text-decoration: none
  font-weight: 500
  background: hsl(230, 40%, 98%)
  display: inline-block
  padding: .1em .5em
  margin: 0 .5em .5em 0
  white-space: nowrap
  border-radius: .3em

  &:hover, &:focus
    background: hsl(230, 40%, 95%)

.repo-ref
  --color-link: var(--color-light-link)
  --color-link-hover: var(--color-light-hover)
  font-weight: 400
  white-space: nowrap

  > .icon
    font-size: 80%

.avatar
  vertical-align: middle
  height: 1.4em
  border-radius: 50%

.shard-name, .dependency-name
  font-weight: 500
  text-decoration: none

.topic
  display: inline-block
  font-weight: 400
  &:before
    content: "#"

.large
  font-size: 1.5rem

.fat
  font-weight: 500

.icon
  display: inline-block
  width: 1em
  height: 1em
  vertical-align: middle
  fill: currentColor


.shard-name
  --color-link: #333
  --color-link-hover: var(--color-light)
  white-space: nowrap
  font-weight: 500

  > .qualifier
    font-weight: 300
    color: var(--color-light)
    font-size: 95%

.description
  --color-link: var(--color-light-link)
  --color-link-hover: var(--color-light-hover)

p
  margin: 0

  &:not(:empty) + p:not(:empty)
    margin-top: .7rem

img
  max-width: 100%

.percent
  color: var(--color-lighter)
  font-weight: 300

.badge
  display: inline-block
  margin-top: -1px
  margin-bottom: -1px
  padding: 3px 4px
  line-height: 1
  border: 1px solid
  font-weight: 400
  border-radius: 2px
