:root {
  --color-body: #222;
  --color-link: #20b;
  --color-link-hover: #30a;
  --color-light: #555;
  --color-light-link: #666;
  --color-light-hover: #999;
  --color-lighter: #888;
  --color-archived: #ddccbb;
  --color-sync-failed: #ffeecc;
  --color-code-background: #fdf6e3;
  --color-code: #657b83;
  --color-latest: hsl(116, 100%, 33%);
  --color-yanked: hsl(46, 100%, 33%);
}
