{% extends "layout.html.j2" %}
{% import "macros/links.j2" %}

{% block page_title %}Catgories on Shardbox{% endblock %}
{% block main %}
  <header>
    <h1>Categories</h1>
  </header>

  <div class="categories-list">
    {% for category in categories %}
      <div class="category-item">
        <span class="category-title">
          <a href="/categories/{{ category.slug }}">{{ category.name }}</a>
          <span class="count">{{ category.entries_count }}</span>
        </span>

        <div class="category__top-shards">
          {% for shard in category.top_shards %}
            <span class="top-shard-link">
              <a href="{{ shard_path(shard) }}">
                {{- shard.slug -}}
              </a>
            </span>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
