{% extends "layout.html.j2" %}
{% import "macros/date.j2" %}
{% import "macros/links.j2" %}
{% import "macros/shard-card.j2" %}

{% set uncategorized = category.slug == "Uncategorized" %}

{% block page_title %}{{ category.name }} on Shardbox{% endblock %}
{% block main %}
  <header>
    <div class="breadcrumbs">
      <a href="/categories" class="breadcrumb">Categories</a>
    </div>
    <h1>{{ category.name }}</h1>
  </header>

  {% if category.description %}
    <p>{{ category.description | markdown }}</p>
  {% endif %}

  <h2>{{ entries_count }} shards</h2>

  <div class="category-entries">
  {% for result in shards %}
    <div class="category-entry">
      {{ shard_card(result.shard, result, result.categories,
        repo_ref = result.repo.ref,
        repo = result.repo,
        released_at = result.release.released_at,
        version = result.release.version,
        show_topics = true,
        show_dependents = false, show_description = true, show_created_at = false) }}
      {% if uncategorized -%}
        <div class="shards-spec">- {{ result.repo.ref.resolver }}: {{ result.repo.ref.url }}
  description: {{ result.release.description | default(result.repo.metadata.description) }}</div>
        {% set homonymous = homonymous_shards[result.shard.name] %}
        {% if homonymous and homonymous | length > 1 %}
          <div class="homonymous_shards">
            <small>Similar:</small>
            {% for entry in homonymous if entry.qualifier != result.shard.qualifier %}
              <a class="shard-name" href="{{ shard_path(entry) }}">
                {{ shard_name(entry) }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  {% endfor %}
  </div>

  <div class="category-edit">
    <a href="https://github.com/shardbox/catalog/edit/master/catalog/{{ category.slug }}.yml" class="btn edit">{{ icon("edit") }} Edit this category</a>
  </div>
{% endblock %}
