.categories-list
  margin: 0 -1em
  padding: 0
  display: flex
  flex-wrap: wrap

  > .category-item
    flex-basis: 20em
    border: 1px solid #ddd
    background-color: #fff
    padding: 1em
    margin: 1em
    flex-grow: 1

    > .category-title
      font-weight: 500
      font-size: 1.1em
      display: flex
      margin-bottom: .5rem
      justify-content: space-between

.top-shard-link
  & + .top-shard-link
    &::before
      content: "•"
      margin-left: .2em
      color: var(--color-lighter)

  > a
    color: var(--color-light)
    font-weight: 400

.category-edit
  margin-top: 3rem

.category-entries
  display: flex
  flex-wrap: wrap

  > .category-entry
    @media(min-width: 1200px)
      width: 50%
      padding: .6rem
    @media(max-width: 1200px)
      width: 100%
      margin-bottom: .6rem

    > .shard-card
      display: grid
      grid-template-columns: 1fr min-content
      grid-template-areas: "name repo-info" "description description" "shard-info shard-info"

    > .shards-spec
      margin-bottom: 1rem
