.home-header
  @media(min-width: 768px)
    display: grid
    grid-template-columns: 3fr 1fr

  font-size: 1.3em

  > h1
    grid-column-start: 1
    grid-column-end: 3
    font-size: 3.8rem
    margin-bottom: 1.5rem

.home-stats
  > p
    margin: 0

.home-nav
  display: flex
  align-items: flex-end
  justify-content: flex-end

.containers, .home-header
  margin-left: 1rem
  margin-right: 1rem

.shards-lists
  display: flex
  flex-wrap: wrap
  flex-direction: row

.shards-list
  flex-grow: 1
  min-width: 25em
  flex-basis: 25em
  margin: 0 -.6em
  display: flex
  flex-flow: row wrap

  > .shard-card
    min-width: 15em
    max-width: 21em
    margin: .6em
    display: flex
    flex-direction: column

    > .description
      //max-width: 12em

.stats-container
  display: flex

table.stats
  width: 100%
  > tbody > tr
    > th, > td
      padding-bottom: .3em
      padding-top: .3em
      border-bottom: 1px dashed #ddd
    > th
      text-align: right
      vertical-align: top
      width: 10em
    > td
      padding-left: .5em
      vertical-align: top

table.counts
  with: 100%
  > tbody > tr
    > td
      text-align: right
      color: var(--color-light)
      font-weight: 500
      vertical-align: top
    > th
      text-align: left
      font-weight: 500
      color: var(--color-lighter)
      vertical-align: top
      padding-left: .8em

      &::before
        content: "·"
        margin-left: -.7em
        margin-right: .3em
        color: var(--color-lighter)
        font-weight: bold

.count
  color: var(--color-light)
  font-weight: 500
