<div class="infobox">
  <pre class="shards-spec"><span class="token key atrule">{{ shard.name }}</span>:
  <span class="token key atrule">{{ repo.ref.resolver }}</span>: {{ repo.ref.url }}
  {% if release.version != "HEAD" %}<span class="token key atrule">version</span>: ~> {{ release.version }}{% endif %}</pre>

  <script>
  shardsSpec = document.querySelectorAll(".shards-spec")
  shardsSpec.forEach(function($elem) {
    $a = document.createElement("a")
    $a.classList.add("copy-code")
    $a.classList.add("btn")
    $a.classList.add("btn-inverted")
    $a.setAttribute("title", "Copy code")
    $a.setAttribute("href", "#copy-code")
    $svg = document.createElementNS("http://www.w3.org/2000/svg", "svg")
    $svg.classList.add("icon")
    $use = document.createElementNS("http://www.w3.org/2000/svg", "use")
    $use.setAttribute("href", "#icon-copy")
    $svg.append($use)
    $a.append($svg)
    $elem.append($a)
    console.log($elem)
    console.log($svg)

    $svg.addEventListener("click", function(event){
      console.log($elem)
      selection = window.getSelection();
      selection.removeAllRanges();
      selection.selectAllChildren($elem);
      document.execCommand("copy");
      $elem.classList.add("copied")
      selection.removeAllRanges();
      setTimeout(function(){
        $elem.classList.remove("copied");
      }, 1000);
    })
  })
  </script>

  <div class="metrics">
    {% if release.license %}
      <div class="metric">
        <span class="metric-label">{{ icon("law") }} License</span>
        <span class="metric-value">
          <a href="http://opensource.org/licenses/{{ release.license }}" class="external">{{ release.license }}</a>
        </span>
      </div>
    {% endif %}
    <div class="metric">
      <span class="metric-label">{{ icon("crystal") }} Crystal</span>
      <span class="metric-value">{{ release.crystal }}</span>
    </div>
  </div>

  {% if release.spec.authors %}
    <div class="container">
      <h3>{{ icon("person") }} Authors</h3>
      <ul>
      {% for author in release.spec_authors %}
        <li class="author">
          <img src="https://www.gravatar.com/avatar/{{ author.email | default('') | gravatar_hash }}?d=mp" class="author_image" />
          <span class="author_name">{{ author.name }}</span>
          {% if author.email %}
            <a href="mailto:{{author.email}}" class="author_mail external">{{ author.email }}</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% include "releases/_dependencies.html.j2" %}
</div>
