{% extends "releases/_layout.html.j2" %}
fooo

{% block page_title %}{{ shard.display_name }}@{{ release.version }} on Shardbox{% endblock %}

{% block release_main %}
  {% set libraries = release.spec["libraries"] %}
  {% if libraries %}
    <div class="container">
      <h2>Libraries <span class="count">{{ libraries | count }}</span></h2>
      <ul>
        {% for name, version in libraries %}
          <li><code>{{ name }}</code>: <code>{{ version }}</code></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="container">
    <h2 id="dependencies">
      {{ icon("package-dependencies") }} Dependencies
      <span class="count">{{ dependencies | length }}</span>
    </h2>
    <ul class="dependencies dependencies--runtime">
    {% for dep in dependencies %}
      <li>
        <a href="{{ shard_path(dep.shard) }}" class="shard-name shard-name--dependency">{{ shard_name(dep.shard) }}</a>
        {% if dep.dependency.version_reference %}
          <span class="dependency-version" title="{{ dep.dependency.version_reference[0] }}: {{ dep.dependency.version_reference[1] }}">
            {{ dep.dependency.version_reference[1] }}
          </span>
        {% endif %}

        {% if dep.shard.description %}
          <span class="shard-description">{{ dep.shard.description | markdown_inline }}</span>
        {% endif %}

        <pre>{{ dep.dependency.spec }}</pre>
      </li>
    {% else %}
      No dependencies.
    {% endfor %}
    </ul>
  </div>

  <div class="container">
    <h2 id="dev_dependencies">
      {{ icon("package-dependencies") }}{{ icon("code") }} Development Dependencies
      <span class="count">{{ dev_dependencies | length }}</span>
    </h2>
    <ul class="dependencies dependencies--development">
    {% for dep in dev_dependencies %}
      <li>
        {% if dep.shard %}
          <a href="{{ shard_path(dep.shard) }}" class="shard-name shard-name--dependency">{{ shard_name(dep.shard) }}</a>
        {% else %}
          <span  class="dependency-name">{{ dep.dependency.name }}</span>
        {% endif %}
        {% if dep.dependency.version_reference %}
          <span class="dependency-version" title="{{ dep.dependency.version_reference[0] }}: {{ dep.dependency.version_reference[1] }}">
            {{ dep.dependency.version_reference[1] }}
          </span>
        {% endif %}

        {% if not dep.shard %}
          {% set repo_ref = dep.dependency.repo_ref %}
          {% if repo_ref %}
            <span class="dependency-reference">{{ repo_ref.resolver }}: {{ repo_ref.url }}</span>
          {% endif %}
        {% endif %}

        {% if dep.shard.description %}
          <span class="shard-description">{{ dep.shard.description | markdown_inline }}</span>
        {% endif %}

        <pre>{{ dep.dependency.spec }}</pre>
      </li>
    {% else %}
      No development dependencies.
    {% endfor %}
    </ul>
  </div>

  <div class="container">
    <h2 id="dependents">
      {{ icon("package-dependents") }} Dependents
      <span class="count">{{ all_dependents | length }}</span>
    </h2>
    <ul class="dependencies dependencies--dependents">
    {% for item in all_dependents %}
      <li>
        <a href="{{ shard_path(item.shard) }}" class="shard-name shard-name--dependency"{% if item.shard.description %} title="{{ item.shard.description }}"{% endif %}>
          {{ shard_name(item.shard) }}
        </a>
        {% if item.dependents_count > 0 %}
          <span class="recursive_dependents">({{item.dependents_count}} dependents)</span>
        {% endif %}
        {% if item.shard.description %}
          <span class="shard-description">{{ item.shard.description | markdown_inline }}</span>
        {% endif %}
      </li>
    {% else %}
      No shards depend on this.
    {% endfor %}
    </ul>
  </div>
{% endblock %}
