{% extends "releases/_layout.html.j2" %}

{% block page_title %}{{ shard.display_name }}@{{ release.version }} on Shardbox{% endblock %}

{% block release_main %}
{% if readme %}
<div class="container">
  {{ readme | markdown_repo_content(repo_ref = repo.ref, revision = release.revision_identifier) }}
</div>
{% else %}
<div class="container install-instructions">
  <p>You can add this shard as a dependency by adding the following lines
      to the <code>dependencies</code> section in your <code>shard.yml</code>:</p>
<pre><code class="language-yaml">{{ shard.name }}:
  {{ repo.ref.resolver }}: {{ repo.ref.url }}
  version: ~> {{ release.version }}</code></pre>
</div>
{% endif %}
{% endblock %}
