{% import "macros/icons.j2" %}

<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header role="nav" class="site-header">
      <a href="/" class="site-title">Shardbox</a>
      <form action="/search" method="GET" class="search-field">
        <input type="search" name="q" placeholder="Search…" value="{{ query }}" autofocus />
        <button type="submit">{{ icon("search") }}</button>
      </form>
      <div class="header-nav">
        <a href="/categories" title="Browse">{{ icon("telescope") }} <span>Browse</span></a>
        <a href="/owners" title="Owners">{{ icon("people") }} <span>Owners</span></a>
        <a href="/stats" title="Statistics">{{ icon("graph") }} <span>Statistics</span></a>
        <a href="/contribute" title="Contribute">{{ icon("tools") }} <span>Contribute</span></a>
      </div>
    </header>
    <main>
      {% include "includes/icons.svg" %}

      {% block main %}
      {% endblock %}
    </main>

    {% include "includes/footer.html.j2" %}
  </body>
</html
