{% import "macros/icons.j2" %}

<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header role="nav" class="site-header">
      <a href="/" class="site-title">Shardbox</a>
      <form action="/search" method="GET" class="search-field">
        <button type="submit">{{ icon("search") }}</button>
        <input type="search" name="q" placeholder="Search…" value="{{ query }}" autofocus />
      </form>
      <div class="header-nav">
        <a href="/categories">{{ icon("telescope") }} Browse</a>
        <a href="/stats">{{ icon("graph") }} Statistics</a>
        <a href="/contribute">{{ icon("tools") }} Contribute</a>
      </div>
    </header>
    <main>
      {% include "includes/icons.svg" %}

      {% block main %}
      {% endblock %}
    </main>

    {% include "includes/footer.html.j2" %}
  </body>
</html
