{% import "macros/icons.j2" %}

<html>
  <head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header role="nav" class="site-header">
      <a href="/" class="site-title">Shardbox</a>
      <form action="/search" method="GET">
        <input type="search" name="q" placeholder="Search…" value="{{ query }}" />
        <button type="submit">{{ icon("search") }}</button>
      </form>
      <div class="header-nav">
        <a href="/categories">Browse</a>
        <a href="/stats">Statistics</a>
        <a href="/contribute">Contribute</a>
      </div>
    </header>
    <main>
      {% include "includes/icons.svg" %}

      {% block main %}
      {% endblock %}
    </main>

    {% include "includes/footer.html.j2" %}
  </body>
</html
