{% extends "layout.html.j2" %}
{% import "macros/date.j2" %}
{% import "macros/links.j2" %}
{% import "macros/shard-card.j2" %}

{% block page_title %}"{{ query }}" Search on Shardbox{% endblock %}
{% block main %}
  <header>
    <h1>Search for <code>"{{ query }}"</code></h1>
  </header>

  <div class="search-results">
  {% for shard in shards %}
    {{ shard_card(shard, shard, shard.categories,
      show_description = true,
      repo_ref = shard.canonical_repo.ref
    ) }}
  {% else %}
    <p class="large fat">There were no results for your search ;-(</p>
    <p class="large">Maybe you want to <a href="/categories">browse the categories</a> instead?</p>
  {% endfor %}
  </div>
{% endblock %}
